.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calculator{
  height: 650px;
  width: 360px;
  background-color: #1C1C1C;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-section{
  height: 25%;
  width: 85%;
  display:flex;
  justify-content: flex-end;
  align-items: end;
  padding: 0;
}

.answer{
  color: white;
  font-weight: 300;
  font-size: 60px;
  margin: 20px 0;
}

.button-section{
  height: 75%;
  width: 88%;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.button-row{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.calculator-button{
  background-color: orange;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-text{
  font-size: 27px;
}
.text-white{
  color:white
}
.text-black{
  color: #1C1C1C;
}

.circle{
  width: 72px;
  height: 72px;
}

.rectangle{
  width: 114px;
  height: 72px;
  display: flex;
  justify-content: start;
  padding-left: 30px;
}

.gray{
  background-color: #D4D4D2;
}
.black{
  background-color: #505050;
}
.orange{
  background-color: #FF9500;
}